@tailwind base;

@layer base {
  ._img_ {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

article .prose h3 {
  @apply font-semibold;
  display: inline;
}

article .prose h3::before {
  @apply w-4 h-1 content-[''] border-t-2 border-dark mr-2;
  display: inline-block;
  vertical-align: middle;
}

article .prose p {
  @apply my-6;
}

article .prose p strong {
  @apply font-semibold;
}

article .prose p em {
  @apply opacity-80 font-medium;
}

article .prose a {
  @apply font-medium underline hover:opacity-80 px-0.5;
}

.prose img {
  @apply relative w-[96%] aspect-auto rounded-sm grayscale-[1] _img_;
}

article .prose video {
  @apply w-full aspect-auto;
}

article .prose ul {
  @apply list-disc list-inside space-y-4 my-6;
}

article .prose ol {
  @apply list-decimal list-inside space-y-4 my-6;
}

article .prose blockquote {
  @apply m-2 md:m-4 p-4 flex flex-col space-y-4 rounded-sm border border-dark/60 bg-beige/10 font-medium select-none;
}

article .prose blockquote p {
  @apply my-0;
}
