@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .intelli-none {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .intelli-canvas {
    background: rgba(0, 0, 0, 0.938)
      url("https://assets.cfmpulse.com/intellirdb/assets/intellirdb-canvas.jpg")
      0 0 repeat;
  }
}

@font-face {
  font-family: "Typewriter";
  src: url("https://assets.cfmpulse.com/intellirdb/fonts/veteran-typewriter.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cfmpulse";
  src: url("https://assets.cfmpulse.com/intellirdb/fonts/cfmpulse.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

*,
html {
  scroll-behavior: smooth;
  transition-duration: 0s;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Cfmpulse", "Open Sans", sans-serif;
}

.font-var {
  font-feature-settings: "ss02", "ss03";
  font-variation-settings: "opsz" 500;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
}

::selection {
  background: #fff;
  color: #000;
}

::-moz-selection {
  background: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.25rem;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #000000a3;
  border-radius: 0px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.text-bi {
  font-size: 12px !important;
}
